
<h1>Dinr.</h1>

<form class="box" action='/login' method='POST'>
  <input type="email" name="email" placeholder="Email"></input>
  <input type="password" name="password" placeholder="password"></input>
  <input type="submit" value="Login"></input>
  <a href="/signup"> New User?</a>
</form>
