<link rel="stylesheet" href="/stylesheets/login.css">

<form class="box" action='/login' method='POST'>
  <input type="email" name="email" placeholder="Email"></input>
  <input type="password" name="password" placeholder="password"></input>
  <button type="submit" class="btn btn-primary btn-info">
    <i class="glyphicon glyphicon-home"></i> Login
  </button>
  <a href="/signup" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-user"></span> New User</a>
</form>
