
<h1>Dinr</h1>

<form class="box" action='/login' method='POST'>
  <input type="text" name="name" placeholder="name"></input>
  <input type="text" name="email" placeholder="email"></input>
  <input type="password" name="password" placeholder="password"></input>
  <input type="text" name="bio" placeholder="Tell us about yourself..."></input>
  <input type="submit" value="Dinr up!"></input>
  <a href="/"> Already have an account?</a>
</form>
