body{
  background-color: #E2E1DD
}

.box{
  padding: 0;
}
.inner-box{
  margin: 10px;
  box-shadow: 2px 2px 10px #bbbbbb;
  background-color: #ffffff;
}

.event-thumb-header{
  background-color: rgba(255, 255, 255, 0.7);
}

h3{
  margin: 0;
  width: 100%;
  text-align: center;
}
h3 a{
  color: #58595B !important;
}

footer a{
  margin: 0 !important;
}

.attend-form{
  position: absolute;
  bottom: 0;
  right: 0;
}

.img-box{
  height: 275px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative
}
