

<form class="box" action='/events' method='POST'>
  <input type="text" name="title" placeholder="Title">
  </input><br>
  <input type="text" name="location" placeholder="location">
  </input><br>
  <input type="number" name="guest_number" placeholder="Number of Guests">
  </input><br>
  <input type="text" name="attire" placeholder="What should guests wear?">
  </input><br>
  <input type="text" name="food_bio" placeholder="What are you serving?">
  </input><br>
  <input type="text" name="category" placeholder="category">
  </input><br>
  Date: <input type="date" name="event_date"><br>
  Start Time: <input type="time" name="start_time">
  </input><br>
  End Time: <input type="time" name="end_time">
  </input><br>
  <input type="submit" value="Host!"></input>
</form>