  <link rel="stylesheet" href="/stylesheets/grid.css">

<div class="row container-fluid">
  <% 12.times do |i| %>
    <div class="col-xs-12 col-sm-6 col-md-3 box">
      <div class="inner-box">
        <%= i + 1 %>
      </div>
    </div>
  <% end %>

</div>
